<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet", href="/styles/styles.css">
    <title> 404!</title>
    <link rel="icon" href="/weather.png"> 
</head>
<body>
     <div class="main-content">
    {{>header}}
    
   
        <h1> {{error}}</h1>
    </div>

    {{>footer}}
</body>

</html> 