<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet", href="/styles/styles.css">
<title>About </title>
<link rel="icon" href="/weather.png"> 
</head>
<body>
  <div class="main-content">    {{>header}}
    {{!-- <h1> <marquee> {{title}}</marquee></h1> --}}
    <img id="potrait" src="./d0d32054ecf2156252b7300e8ca3dff6.png"></img> 
    {{!-- <p>Created by {{name}}</p> --}}
</div>

      {{>footer}}
</body>

</html>