<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet", href="/styles/styles.css">
<title>About </title>
<link rel="icon" href="/weather.png"> 
</head>
<body>
  <div class="main-content">    {{>header}}
    {{!-- <h1> <marquee> {{title}}</marquee></h1> --}}

    <p>This site was created by Amitvikram Dwivedi and takes data from mapbox.com and weather-satck api </p>
    <img id="potrait" src="./self.png "></img> 
    {{!-- <p>Created by {{name}}</p> --}}
</div>

      {{>footer}}
</body>

</html>