<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet", href="/styles/styles.css">
    <title>Help </title>
    <link rel="icon" href="/weather.png"> 
</head>
<body>
<div class="main-content">
    {{>header}}
    {{!-- <h1>Help</h1> --}}
    {{!-- <h1> <marquee> {{helpTextMessage}} {{name}}</marquee></h1> --}}
</div>
    {{>footer}}
</body>

</html> 