
    {{!-- <h1> Hey there bois i am the partial header sdfdsfds</h1> --}}
    <link rel="stylesheet", href="/styles/styles.css">
    
   


    <header> 
         <h1> {{title}}</h1>
        <a  href="/">Weather</a>
        
        <a href="/help">help</a>
        
        <a href="/about">about</a>
    </header>

    